* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
    font-size: 18px;
}

.header-top {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    width: 100%;
    top: 0;
    line-height: 35px;
}

.header-top + .header-bottom {
    margin-top: 86px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1080px;
    margin: auto;
}

.options-container {
    float: left;
    width: 69%;
    font-size: 0.88rem;
    font-weight: 500;
    padding: 0.75rem 0;
}

.language, .contact {
    display: inline-block;
    width: 15%;
    padding: 0.75rem 0;
}

.language a {
    border-right: 1px solid #cbd6e2;
    text-decoration: none;
    padding-right: 1em;
    color: #33475b;
}

.language .fa-caret-down, #main-menu .fa-caret-down {
    color: rgba(52,71,91,0.6);
}

.cta-container {
    float: left;
    text-align: right;
}

.cta-container, .btn-container {
    padding: 0.75rem 0;
}

.item1, .item2, .item3 {
    padding: 0 0.5rem;
}

.cta-container a {
    text-decoration: none;
}

.cta-container .search {
    text-decoration: none;
    color: #00acc6;
    padding: 0 0.5rem;
}

.btn {
    padding: 0.9em 2.15em 0.75em;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    background-color: #ffffff;
    color: #ff7a59;
    font-size: 0.9rem;
    font-weight: 500;
}

.btn:hover {
    background-color: rgba(255, 122, 89, 0.15);
}

.hover-dark:hover {
    background-color: rgba(255, 122, 89, 0.5);
    border: 1px solid rgba(255, 122, 89, 0.15);
}

.item3 .btn {
    padding: 0.9em 0.9em 0.75em;
}

.btn-primary {
    background-color: #ff7a59;
    color: #ffffff;
}

.item2 .btn:hover::after {
    content: '';
    color: rgba(255, 122, 89, 1);
}

.header-bottom {
    float: left;
    background-color: #ffffff;
    width: 100%;
}

.logo-container {
    width: 40%;
    float: left;
}

#logo {
    padding: 35px 0;
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: #33475b;
    text-decoration: none;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.jumbotron {
    background-color: #fff2ee;
    float: left;
    width: 100%;
    line-height: 20px;
    border-bottom: 1px solid #33475b;
}

#jumbo-wrapper {
    display: inline-block;
    width: 50%;
    padding: 4rem 0;
}

#jumbo-content {
    line-height: 40px;
    width: 78%;
    padding: 1.5rem 0;
}

#jumbo-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

#jumbo-content h1, #jumbo-content #textbox1, #jumbo-content #textbox2, .btn-main {
    padding: 1.5rem 0;
}

#jumbo-content #textbox1 {
    color: rgba(51, 71, 91, 0.5);
    font-weight: 400;
}

#jumbo-content .btn {
    padding: 1.4em 2em 1.2em;
    font-size: 1.2rem;
}

.btn-main a {
    text-decoration: none;
}

#jumbo-content #textbox2 {
    line-height: 20px;
    font-weight: 500;
    font-size: 0.9rem;
    width: 50%;
}

.growth {
    background-color: #f5f8fa;
    height: 1000px;
    width: 100%;
    float: left;
}

#contentbox {
    width: 100%;
}

.btn-chat {
    text-align: center;
    background-color: #425b76;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    display: block;
    position: fixed;
    padding: 15px 10px;
    cursor: pointer;
    right: 15px;
    bottom: 15px;
    z-index: 10;
}

.btn-chat #chat {
    height: 30px;
}
